Repository jeanbaptistemora/fluidattacks-universe2, changes with the owners that CODEOWNERS names for each.
All owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3303 link for blog entries
  new/theme/2020/templates/thank-you.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3291 links-reasons-certifications
  content/pages/careers/reasons/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.143 add asvs ref to rule 266
  content/pages/rules/architecture/266/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3304 update integrates text
  new/theme/2020/templates/products/integrates.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1710 welcome view additional test
  front/src/scenes/Registration/containers/WelcomeView/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(back): #2087 inconsistent found vulns metric
  django-apps/integrates-back-async/backend/scheduler.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.20 concurrent code
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/scheduler.py
  test_async/domain_test/test_tag.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3291 fixing-more-links
  content/pages/events/breaking-the-build/index.adoc
  content/pages/events/burn-the-datacenter/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3291 fixing-more-links-ii
  content/blog/devops-concept/index.adoc
  content/blog/rules-new-standard/index.adoc
  content/blog/sast-sca-kiuwan/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372.147 edit access_token test
  front/src/scenes/Dashboard/components/AddAccessTokenModal/index.spec.tsx
  front/src/scenes/Dashboard/components/AddAccessTokenModal/index.tsx
  front/src/scenes/Dashboard/components/AddAccessTokenModal/types.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

refac(cross): #1776.5 change project to groups
  app/documentator/pdf.py
  app/urls.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
  django-apps/integrates-back-async/backend/scheduler.py
  django-apps/integrates-back-async/backend/utils/findings.py
  ephemeral_tests.py
  front/src/scenes/Dashboard/components/Navbar/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/index.spec.tsx
  front/src/scenes/Dashboard/index.tsx
  test_async/test_scheduler.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.144 create rule 336
  content/pages/findings/security/052/index.adoc
  content/pages/rules/cryptography/336/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(back): #1372 add authz/policy cases
  test_async/authz_test/test_policy.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(front): #2096 rename resources to settings
  front/src/scenes/Dashboard/containers/ProjectContent/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

test(back): #1372 add dal/tag test
  test_async/dal_test/test_tag.py
  test_async/dynamo_data/fi_portfolios.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #835 redshift implement moto mock
  build/dependencies/tests.lst
  build/provisioners/lint_asserts.nix
  test/test_cloud_aws_redshift.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3338 update-email-careers
  content/pages/careers/character-test/index.adoc
  content/pages/careers/faq/section1.adoc
  content/pages/careers/immersion/index.adoc
  content/pages/careers/index.adoc
  content/pages/careers/non-technical-challenges/index.adoc
  content/pages/careers/portfolio/index.adoc
  content/pages/careers/technical-challenges/index.adoc
  content/pages/careers/terms/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2090.1 service attributes resolver
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/boundary.py
  django-apps/integrates-back-async/backend/authz/model.py
  test_async/authz_test/test_enforcer.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3306 update drills text
  new/theme/2020/templates/products/drills.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372.148 edit access_token test
  front/src/scenes/Dashboard/components/AddAccessTokenModal/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #3311 update forces text
  new/theme/2020/templates/products/forces.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.21 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/domain/user.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(front): #2090.2 rename context
  front/src/app.tsx
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
  front/src/scenes/Dashboard/components/FindingActions/index.spec.tsx
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.tsx
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.spec.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EventDescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/EventEvidenceView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ExploitView/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.spec.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Environments/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Portfolio/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Services/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/scenes/Dashboard/containers/RecordsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.spec.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.spec.tsx
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Dashboard/queries.ts
  front/src/utils/authz/Can/index.ts
  front/src/utils/authz/config.ts
  front/src/utils/authz/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #3313 update continuous hacking text
  new/theme/2020/templates/use-cases/continuous.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3315 fix links style in forces
  new/theme/2020/static/js/dynClasses.ts
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.22 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  test_async/domain_test/test_vulnerability.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.145 add refs to some rules
  content/pages/rules/cryptography/145/index.adoc
  content/pages/rules/cryptography/147/index.adoc
  content/pages/rules/cryptography/224/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3318 update oneshot hacking text
  new/theme/2020/templates/use-cases/one-shot.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #3340 new-red-team-expert
  content/blog/new-red-team-expert/certified.png
  content/blog/new-red-team-expert/cover.png
  content/blog/new-red-team-expert/index.adoc
  content/blog/new-red-team-expert/lab.png
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(front): #2090.3 have i component
  front/src/scenes/Dashboard/containers/ProjectContent/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/queries.ts
  front/src/scenes/Dashboard/index.tsx
  front/src/utils/authz/Have/index.ts
  front/src/utils/authz/config.ts
  front/src/utils/authz/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

refac(front): #2023.15 improve version check
  mobile/src/containers/LoginView/index.spec.android.tsx
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/LoginView/version.ts
  mobile/src/utils/version.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #3325 update contact us subtitle
  new/theme/2020/templates/contact-us.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3335 update-security-texts
  content/pages/security/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(cross): #2023.16 minor improvements
  mobile/package.json
  mobile/src/containers/DashboardView/Header/styles.ts
  mobile/src/containers/DashboardView/index.spec.tsx
  mobile/src/containers/DashboardView/index.tsx
  mobile/src/containers/WelcomeView/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(doc): #3328 fix blog not showing
  content/blog/app-pickle/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #2100 remove unused code
  fluidintegrates/settings.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2002 group level enforcer
  django-apps/integrates-back-async/backend/authz/enforcer.py
  django-apps/integrates-back-async/backend/authz/policy.py
Owners: @jrestrepoatfluid, @mnorenaatfluid

refac(doc): #3351 update-careers-faq
  content/pages/careers/faq/section1.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(front): #2088.2 hide exploit when empty
  front/src/scenes/Dashboard/components/ContentTab/index.css
  front/src/scenes/Dashboard/components/ContentTab/index.tsx
  front/src/scenes/Dashboard/containers/EventContent/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/queries.ts
  front/src/scenes/Dashboard/containers/FindingContent/types.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

feat(infra): #2102 module for bucket-antivirus
  deploy/bucket-antivirus/terraform/s3.tf
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

CODEOWNERS:

# Default approvers
* @mnorenaatfluid @aroldanatfluid @dacevedoatfluid @acuberosatfluid @jrestrepoatfluid @ralvarezatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid

# Back approvers
/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid
