Repository jeanbaptistemora/fluidattacks-universe2, changes with the owners that CODEOWNERS names for each.
All owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

CODEOWNERS:

# Default approvers
* @mnorenaatfluid @aroldanatfluid @dacevedoatfluid @acuberosatfluid @jrestrepoatfluid @ralvarezatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid

# Back approvers
/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid

fix(front): #2065.2 replace all occurrences
  front/src/utils/validations.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(back): #2053 allow fluid users one-shot
  django-apps/integrates-back-async/backend/dal/project.py
  test_async/dynamo_data/FI_projects.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3266.1 delete deprecated content
  content/pages/format/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.114 create rule 332
  content/pages/rules/credentials/332/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #2994.115 rename rule 332
  content/pages/rules/credentials/332/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #2003 reviewer actions
  django-apps/integrates-back-async/backend/authz/model.py
Owners: @jrestrepoatfluid, @mnorenaatfluid

test(front): #2029.21 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Services/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

refac(back): #2067.1 rm unnecesary argument
  django-apps/integrates-back-async/backend/authz/enforcer.py
  django-apps/integrates-back-async/backend/utils/validations.py
  test_async/authz_test/test_enforcer.py
Owners: @jrestrepoatfluid, @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @ralvarezatfluid

feat(doc): #2994.116 add asvs ref to rule 332
  content/pages/rules/credentials/332/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.117 add refs to rule 088
  content/pages/rules/certificates/088/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2038.3 use new available groups
  app/migrations/0004-available-names-new-table.py
  django-apps/integrates-back-async/backend/domain/internal_project.py
  test_async/dal_test/test_available_group.py
  test_async/domain_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(back): #835 test coverage and branching
  fluidasserts/cloud/aws/cognito.py
  fluidasserts/cloud/aws/configservice.py
  fluidasserts/cloud/aws/elb2.py
  test/test_cloud_aws_cognito.py
  test/test_cloud_aws_configservice.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2067.2 require integrates decorator
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/authz/policy.py
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/project.py
  test_async/authz_test/test_enforcer.py
Owners: @jrestrepoatfluid, @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @ralvarezatfluid

feat(back): #2005 add more indicators
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/scheduler.py
  test_async/domain_test/test_project.py
  test_async/test_scheduler.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(back): #936.25 add loader to templates test
  fluidasserts/cloud/aws/cloudformation/graphs/loader.py
  fluidasserts/db/neo4j_connection.py
  test/conftest.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.118 add asvs ref to rule 181
  content/pages/rules/data/181/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(build): #2069 update dynamodb local
  build/src/dynamodb-local.nix
  deploy/containers/common/vars/provision_local_db.sh
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #940 remove appveyor badge
  README.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3269 fix footer look
  new/theme/2020/static/js/anchor.ts
  new/theme/2020/templates/footer.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3270 fix-devsecops-concept
  content/blog/devsecops-concept/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.119 add refs to rule 030
  content/pages/rules/session/030/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3271 fix oversize in the screen
  new/theme/2020/static/scss/base.scss
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(cross): #2068 create closer role
  app/views.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/authz/model.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/utils/translations/en.ts
  test_async/authz_test/test_model.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/user.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(cross): #2067.3 apply service middleware
  app/views.py
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(front): #2051.3 extract social auth logic
  mobile/src/containers/DashboardView/index.spec.tsx
  mobile/src/containers/DashboardView/index.tsx
  mobile/src/containers/LoginView/index.spec.android.tsx
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/LoginView/socialAuth.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/containers/WelcomeView/types.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

refac(back): #2038.4 remove project names usage
  deploy/backup/terraform/variables.tf
  deploy/containers/common/vars/provision_local_db.sh
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  django-apps/integrates-back-async/backend/dal/available_group.py
  django-apps/integrates-back-async/backend/dal/internal_project.py
  django-apps/integrates-back-async/backend/domain/available_group.py
  django-apps/integrates-back-async/backend/domain/internal_project.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/exceptions.py
  front/src/utils/formatHelpers.ts
  test_async/dal_test/test_available_group.py
  test_async/domain_test/test_project.py
  test_async/dynamo_data/fi_project_names.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #936.26 add ec2 checks
  fluidasserts/cloud/aws/cloudformation/graphs/ec2.py
  fluidasserts/cloud/aws/cloudformation/graphs/loader.py
  setup.cfg
  test/conftest.py
  test/static/cloudformation/code_as_data_safe/template.json
  test/static/cloudformation/code_as_data_safe/template.yaml
  test/static/cloudformation/code_as_data_vulnerable/template.json
  test/static/cloudformation/code_as_data_vulnerable/template.yaml
  test/static/cloudformation/generate.py
  test/test_cloud_aws_cloudformation_graphs_ec2.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2034 add drills tag
  django-apps/integrates-back-async/backend/authz/model.py
Owners: @jrestrepoatfluid, @mnorenaatfluid

refac(back): #2037 remove drills tag
  django-apps/integrates-back-async/backend/authz/model.py
Owners: @jrestrepoatfluid, @mnorenaatfluid

feat(doc): #2994.120 add refs to some rules
  content/pages/rules/authentication/238/index.adoc
  content/pages/rules/credentials/136/index.adoc
  content/pages/rules/credentials/138/index.adoc
  content/pages/rules/credentials/139/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2063.1 ramless infinite object keys
  app/views.py
  django-apps/integrates-back-async/backend/util.py
  test_async/test_util.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.121 add refs to rule 135
  content/pages/rules/credentials/135/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(front): #2060 add zendesk locale
  app/templates/app.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #2063.2 lift passphrase up
  app/documentator/secure_pdf.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/domain/report.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #2051.4 increase coverage
  mobile/src/containers/LoginView/index.spec.ios.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

perf(back): #2066 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(cross): #2063.3 reproducibility
  app/documentator/images/.gitkeep
  app/documentator/pdf.py
  app/documentator/results/.gitkeep
  app/documentator/secure_pdf.py
  app/documentator/tpls/.gitkeep
  app/techdoc/it_report.py
  app/techdoc/results/.gitkeep
  build/builders/nodejs-module/builder.sh
  build/builders/nodejs-module/default.nix
  build/builders/python-package/default.nix
  build/builders/ruby-gem/default.nix
  build/include/env.sh
  build/include/generic/dir-structure.sh
  build/include/helpers.sh
  build/provisioners/serve_back_dev.nix
  deploy/containers/app/Dockerfile
  django-apps/integrates-back-async/backend/domain/report.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid
