Repository jeanbaptistemora/fluidattacks-universe2, changes with the owners that CODEOWNERS names for each.
All owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid, @dacevedoatfluid

feat(back): #936.21 add func to load importvalue
  fluidasserts/cloud/aws/cloudformation/graph.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #3259 new-post-sec-champions
  content/blog/secdevops-security-champions/cover.png
  content/blog/secdevops-security-champions/index.adoc
  content/blog/secdevops-security-champions/lions.png
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(build): #939.5 stop keeping encryption keys
  build.sh
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(back): #1372 test compare states
  test_async/domain_test/test_finding.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #1965 btsurl validated as url
  django-apps/integrates-back-async/backend/domain/finding.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #835 sqs encryption disabled
  fluidasserts/cloud/aws/sqs.py
  test/test_cloud_aws_sqs.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3258 position of the menu buttons
  new/theme/2020/templates/menu.html
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(front): #2029.12 first service
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Services/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.tsx
  front/src/utils/translations/en.ts
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid, @dacevedoatfluid

fix(front): #3260 styles for tables
  new/theme/2020/static/scss/base.scss
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #936.22 optimize statements
  fluidasserts/cloud/aws/cloudformation/graph.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.104 add asvs ref to rule 051
  content/pages/rules/architecture/051/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3251 remove-zenda
  content/pages/partners/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(back): #2005 use project dataloader
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2005 edit how fins are formatted
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/utils/findings.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(front): #2023.9 improve new styling
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/LoginView/styles.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(back): #835 sqs uses default key
  .gitlab-ci.yml
  fluidasserts/cloud/aws/sns.py
  fluidasserts/cloud/aws/sqs.py
  setup.cfg
  test/test_cloud_aws_sns.py
  test/test_cloud_aws_sqs.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(back): #835 sqs is exposed to public
  fluidasserts/cloud/aws/sns.py
  fluidasserts/cloud/aws/sqs.py
  test/test_cloud_aws_sqs.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(back): #1372 list tests for project
  test_async/domain_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.105 add refs to rule 273
  content/pages/rules/system/273/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(doc): #2994.106 add asvs ref to rule 262
  content/pages/rules/services/262/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2003 resolve alive projects
  django-apps/integrates-back-async/backend/authz/model.py
Owners: @jrestrepoatfluid, @mnorenaatfluid

feat(back): #835 ebs is encryption disabled
  fluidasserts/cloud/aws/ebs.py
  test/test_cloud_aws_ebs.py
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.107 add refs to r178 and r330
  content/pages/rules/data/178/index.adoc
  content/pages/rules/services/330/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(front): #2005 show up to 6 projects
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid

test(front): #1965 front validations extra tests
  front/src/utils/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(back): #936.23 create class to load templates
  fluidasserts/cloud/aws/cloudformation/graph.py
  fluidasserts/db/neo4j_connection.py
  fluidasserts/helper/aws.py
  requirements.txt
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(front): #3147.11 findings pages
  build/include/helpers-deploy.sh
  new/theme/2020/templates/findings.html
  new/theme/2020/templates/page.html
  new/theme/2020/webpack.common.config.ts
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(front): #2029.13 show all services
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Services/index.tsx
  front/src/utils/forms/fields.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

refac(front): #2023.11 format total vulns properly
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/containers/MenuView/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

refac(front): #2023.10 sync color scheme
  mobile/app.json
  mobile/appEntry.ts
  mobile/src/app.tsx
  mobile/src/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

feat(front): #2045 loading 3 frames in login page
  app/templates/index.html
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.spec.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

refac(doc): #3262 fix sqli-manual-bypass
  content/blog/sqli-manual-bypass/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #2023.13 android number format
  mobile/package.json
  mobile/src/containers/DashboardView/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid

style(front): #2023.12 minor improvements
  mobile/src/app.tsx
  mobile/src/containers/DashboardView/Header/index.spec.tsx
  mobile/src/containers/DashboardView/Header/index.tsx
  mobile/src/containers/DashboardView/Header/styles.ts
  mobile/src/containers/DashboardView/index.spec.tsx
  mobile/src/containers/DashboardView/index.tsx
  mobile/src/containers/DashboardView/queries.ts
  mobile/src/containers/DashboardView/styles.ts
  mobile/src/containers/DashboardView/types.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid

CODEOWNERS:

# Default approvers
* @mnorenaatfluid @aroldanatfluid @acuberosatfluid @jrestrepoatfluid @ralvarezatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid

# Back approvers
/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid
