Repository jeanbaptistemora/fluidattacks-universe2, changes with the owners that CODEOWNERS names for each.
All owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3285 align buttons in blog index
  build/include/helpers-deploy.sh
  new/theme/2020/templates/index.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2038.7 random group name
  app/migrations/0008-add-random-to-available-groups.py
  deploy/containers/common/vars/provision_local_db.sh
  deploy/database/terraform/integrates-table.tf
  django-apps/integrates-back-async/backend/dal/available_group.py
  django-apps/integrates-back-async/backend/dal/organization.py
  test_async/dynamo_data/available_groups.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.140 add refs to rule 231
  content/pages/rules/authentication/231/index.adoc
  content/pages/rules/credentials/126/index.adoc
  content/pages/rules/data/329/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.16 concurrent code
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/scheduler.py
  test_async/domain_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3292 padding right in blog index
  new/theme/2020/templates/index.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

test(back): #1372 add user tests
  test_async/domain_test/test_user.py
  test_async/dynamo_data/FI_users.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3293 padding bottom in blog cards
  new/theme/2020/templates/index.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(cross): #1710 concurrent session notify
  app/views.py
  django-apps/integrates-back-async/backend/util.py
  front/src/scenes/Registration/containers/WelcomeView/index.tsx
  front/src/utils/translations/en.ts
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3314 oneshot-link-rules
  new/content/pages/use-cases/one-shot/environments/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #2088.1 change tab label
  front/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #2091 change analyst to hacker
  front/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #2089 change request verify label
  ephemeral_tests.py
  front/src/utils/translations/en.ts
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #1978 change update button label
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
  front/src/utils/translations/en.ts
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

fix(front): #3294 margin in breadcrumb
  new/theme/2020/templates/index.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

style(front): #1710 welcome view styles
  front/src/scenes/Registration/containers/WelcomeView/index.css
  front/src/scenes/Registration/containers/WelcomeView/index.tsx
Owners: @dacevedoatfluid, @mnorenaatfluid, @acuberosatfluid

perf(back): #2066.17 concurrent code
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/domain/project.py
  test_async/domain_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3316 oneshot-link-integrates
  new/content/pages/use-cases/one-shot/vuln-management/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(cross): #2082 update icon
  .gitlab-ci.yml
  mobile/app.json
  mobile/assets/adaptiveBackground.png
  mobile/assets/adaptiveForeground.png
  mobile/assets/icon.png
  mobile/package.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3317 oneshot-link-integrates
  new/content/pages/use-cases/one-shot/critical-information/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.18 concurrent code
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/scheduler.py
  test_async/domain_test/test_project.py
  test_async/entity_test/test_finding.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3298 fix styles for features
  new/theme/2020/templates/menu.html
  new/theme/2020/templates/use-cases/feature.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3320 update-intro-faq
  content/pages/careers/faq/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.141 add refs to rule 153
  content/pages/findings/security/016/index.adoc
  content/pages/findings/security/020/index.adoc
  content/pages/findings/security/022/index.adoc
  content/pages/findings/security/030/index.adoc
  content/pages/rules/authentication/153/index.adoc
  content/pages/rules/session/032/index.adoc
  content/pages/rules/source/153/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2063.7 encrypted zip file
  build/provisioners/serve_back_dev.nix
  deploy/containers/app/Dockerfile
  django-apps/integrates-back-async/backend/reports/data.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3248 toe-link-careers
  content/pages/careers/technical-challenges/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3330 partners-contact-link
  content/pages/partners/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3329 links-resources
  new/content/pages/resources/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(cross): #2076 delete customeradmin
  django-apps/integrates-back-async/backend/authz/model.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  test_async/authz_test/test_model.py
  test_async/authz_test/test_policy.py
  test_async/dynamo_data/fi_authz.json
  test_async/entity_test/test_me.py
Owners: @jrestrepoatfluid, @mnorenaatfluid, @dacevedoatfluid, @acuberosatfluid, @aroldanatfluid, @ralvarezatfluid

refac(doc): #3325 update-text-contact-us
  new/content/pages/contact-us/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #2038.8 create organization in groups
  app/migrations/0009-organizations-new-table.py
  django-apps/integrates-back-async/backend/dal/available_group.py
  django-apps/integrates-back-async/backend/dal/organization.py
  django-apps/integrates-back-async/backend/dal/project.py
  test_async/dal_test/test_organization.py
  test_async/dynamo_data/organizations.json
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #936.31 add ec2 check
  fluidasserts/cloud/aws/cloudformation/graphs/ec2.py
  test/static/cloudformation/code_as_data_safe/template.json
  test/static/cloudformation/code_as_data_safe/template.yaml
  test/static/cloudformation/code_as_data_vulnerable/template.json
  test/static/cloudformation/code_as_data_vulnerable/template.yaml
  test/static/cloudformation/generate.py
  test/test_cloud_aws_cloudformation_graphs_ec2.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(build): #2094 selenium test prod
  ephemeral_tests.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #900.1 use cache in okta session
  requirements.txt
  toolbox/cli/__init__.py
  toolbox/utils/generic.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

perf(back): #2066.19 concurrent code
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/scheduler.py
  test_async/domain_test/test_project.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #900.2 validate aws creds content
  toolbox/utils/generic.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3296 menu alignment to he center
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/menu.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(back): #936.32 has not termination protection
  fluidasserts/cloud/aws/cloudformation/graphs/ec2.py
  test/static/cloudformation/code_as_data_vulnerable/template.json
  test/static/cloudformation/code_as_data_vulnerable/template.yaml
  test/test_cloud_aws_cloudformation_graphs_ec2.py
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

refac(doc): #3324 differentiators-links
  content/pages/services/differentiators/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

feat(doc): #2994.142 create rule 335
  content/pages/rules/authentication/335/index.adoc
  content/pages/rules/files/045/index.adoc
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

fix(front): #3300 padding in contact section
  new/theme/2020/templates/contact-us.html
Owners: @mnorenaatfluid, @aroldanatfluid, @dacevedoatfluid, @acuberosatfluid, @jrestrepoatfluid, @ralvarezatfluid

CODEOWNERS:

# Default approvers
* @mnorenaatfluid @aroldanatfluid @dacevedoatfluid @acuberosatfluid @jrestrepoatfluid @ralvarezatfluid

# Front approvers
/front/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid
/mobile/ @dacevedoatfluid @mnorenaatfluid @acuberosatfluid

# Back approvers
/django-apps/integrates-back-async/backend/authz/ @jrestrepoatfluid @mnorenaatfluid
